.container-slider-background {
    width: 100%;
    position: relative;
}

.container-slider-background input {
    display: none;
}

.slider-wrapper {
    width:  100%;
    overflow:  hidden;
    transform: translateZ(0);
    transition: all .5s ease-out;
}

.slider-inner {
    transition: all .8s cubic-bezier(.77,0,.175,1);
    width: 580%;
}

.slider-inner article {
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-inner .text-h-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute; 
    left: 6.5%;
    line-height: 10px;
    opacity: 0;
    transition: all 1s ease-out .6s;
    top: 50%;
}

.slider-inner .text-h-2 {
    display: flex;
    flex-direction: column;
    position: absolute; 
    left: 18.5%;
    line-height: 10px;
    opacity: 0;
    transition: all 1s ease-out .6s;
    top: 50%;
}

.slider-inner .text-h-3 {
    display: flex;
    flex-direction: column;
    position: absolute; 
    left: 9%;
    line-height: 10px;
    opacity: 0;
    transition: all 1s ease-out .6s;
    top: 45%;
}

.slider-inner .text-h-1 h1,
.slider-inner .text-h-2 h1,
.slider-inner .text-h-3 h1 {
    color: #4290e0;
    font-weight: 700;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.slider-inner .text-h-1 h2,
.slider-inner .text-h-2 h2,
.slider-inner .text-h-3 h2 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
}

.slider-inner .text-h-1 h3,
.slider-inner .text-h-2 h3,
.slider-inner .text-h-3 h3 {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.slider-inner article img {
    width: 100%;
}

.slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.slider-prev-next-control label {
    display: none;
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    
}


.container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
.container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
.container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
.container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
.container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
.container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
.container-slider-background #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
.container-slider-background #slide4:checked~.slider-prev-next-control label:nth-child(5)::after {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: 0;
    line-height: 38px;
    font-size: 45px;    
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
.container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
.container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4)::after {
    content: "﹥";
}

.container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2),
.container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3),
.container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4) {
    display: block;
    float: right;
    margin-right: 40px;
}

.container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(4),
.container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1),
.container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2) {
    display: block;
    float: left;
    margin-left: 25px;
}

.container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(4)::after,
.container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
.container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2)::after {
    content: "﹤";
}

.container-slider-background #slide1:checked~.slider-wrapper article:nth-child(1) .text-h-1,
.container-slider-background #slide2:checked~.slider-wrapper article:nth-child(2) .text-h-2,
.container-slider-background #slide3:checked~.slider-wrapper article:nth-child(3) .text-h-3 {
    opacity: 1;
}

.container-slider-background #slide1:checked~.slider-wrapper .slider-inner {
    margin-left: 0;
}

.container-slider-background #slide2:checked~.slider-wrapper .slider-inner {
    margin-left: -130%;
}

.container-slider-background #slide3:checked~.slider-wrapper .slider-inner {
    margin-left: -235%;
}




/* _____________________________________________________________ */





@media screen and (min-width: 1651px) {
    .container-slider-background {
        width: 100%;
        position: relative;
    }
    
    .container-slider-background input {
        display: none;
    }
    
    .slider-wrapper {
        width:  100%;
        overflow:  hidden;
        transform: translateZ(0);
        transition: all .5s ease-out;
    }
    
    .slider-inner {
        transition: all .8s cubic-bezier(.77,0,.175,1);
        width: 580%;
    }
    
    .slider-inner article {
        width: 20%;
        height: 100%;
        float: left;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .slider-inner .text-h-1 {
        position: absolute;
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 150px;
        line-height: 10px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 50%;
    }
    
    .slider-inner .text-h-2 {
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 380px;
        line-height: 10px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 50%;
    }
    
    .slider-inner .text-h-3 {
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 200px;
        line-height: 10px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 45%;
    }
    
    .slider-inner .text-h-1 h1,
    .slider-inner .text-h-2 h1,
    .slider-inner .text-h-3 h1 {
        color: #4290e0;
        font-weight: 700;
        font-size: 80px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner .text-h-1 h2,
    .slider-inner .text-h-2 h2,
    .slider-inner .text-h-3 h2 {
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner .text-h-1 h3,
    .slider-inner .text-h-2 h3,
    .slider-inner .text-h-3 h3 {
        color: rgb(255, 255, 255);
        font-weight: 400;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner article img {
        width: 100%;
    }
    
    .slider-prev-next-control {
        height: 50px;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    
    .slider-prev-next-control label {
        display: none;
        width: 40px;
        height: 40px;
        color: rgb(255, 255, 255);
        
    }
    
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
    .container-slider-background #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide4:checked~.slider-prev-next-control label:nth-child(5)::after {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        margin: 0;
        line-height: 38px;
        font-size: 45px;    
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4)::after {
        content: "﹥";
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2),
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3),
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4) {
        display: block;
        float: right;
        margin-right: 40px;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(4),
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1),
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2) {
        display: block;
        float: left;
        margin-left: 25px;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(4)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2)::after {
        content: "﹤";
    }
    
    .container-slider-background #slide1:checked~.slider-wrapper article:nth-child(1) .text-h-1,
    .container-slider-background #slide2:checked~.slider-wrapper article:nth-child(2) .text-h-2,
    .container-slider-background #slide3:checked~.slider-wrapper article:nth-child(3) .text-h-3 {
        opacity: 1;
    }
    
    .container-slider-background #slide1:checked~.slider-wrapper .slider-inner {
        margin-left: 0;
    }
    
    .container-slider-background #slide2:checked~.slider-wrapper .slider-inner {
        margin-left: -130%;
    }
    
    .container-slider-background #slide3:checked~.slider-wrapper .slider-inner {
        margin-left: -235%;
    }
}




/* _____________________________________________________________ */





@media screen and (min-width: 991px) and (max-width: 1300px) {
    .container-slider-background {
        width: 100%;
        position: relative;
    }
    
    .container-slider-background input {
        display: none;
    }
    
    .slider-wrapper {
        width:  100%;
        overflow:  hidden;
        transform: translateZ(0);
        transition: all .5s ease-out;
    }
    
    .slider-inner {
        transition: all .8s cubic-bezier(.77,0,.175,1);
        width: 580%;
    }
    
    .slider-inner article {
        width: 20%;
        height: 100%;
        float: left;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .slider-inner .text-h-1 {
        position: absolute;
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 6.5%;
        line-height: 10px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 50%;
    }
    
    .slider-inner .text-h-2 {
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 18.5%;
        line-height: 10px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 50%;
    }
    
    .slider-inner .text-h-3 {
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 9%;
        line-height: 10px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 45%;
    }
    
    .slider-inner .text-h-1 h1,
    .slider-inner .text-h-2 h1,
    .slider-inner .text-h-3 h1 {
        color: #4290e0;
        font-weight: 700;
        font-size: 55px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner .text-h-1 h2,
    .slider-inner .text-h-2 h2,
    .slider-inner .text-h-3 h2 {
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner .text-h-1 h3,
    .slider-inner .text-h-2 h3,
    .slider-inner .text-h-3 h3 {
        color: rgb(255, 255, 255);
        font-weight: 400;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner article img {
        width: 100%;
    }
    
    .slider-prev-next-control {
        height: 50px;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    
    .slider-prev-next-control label {
        display: none;
        width: 40px;
        height: 40px;
        color: rgb(255, 255, 255);
        
    }
    
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
    .container-slider-background #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide4:checked~.slider-prev-next-control label:nth-child(5)::after {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        margin: 0;
        line-height: 38px;
        font-size: 45px;    
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4)::after {
        content: "﹥";
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2),
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3),
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4) {
        display: block;
        float: right;
        margin-right: 40px;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(4),
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1),
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2) {
        display: block;
        float: left;
        margin-left: 25px;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(4)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2)::after {
        content: "﹤";
    }
    
    .container-slider-background #slide1:checked~.slider-wrapper article:nth-child(1) .text-h-1,
    .container-slider-background #slide2:checked~.slider-wrapper article:nth-child(2) .text-h-2,
    .container-slider-background #slide3:checked~.slider-wrapper article:nth-child(3) .text-h-3 {
        opacity: 1;
    }
    
    .container-slider-background #slide1:checked~.slider-wrapper .slider-inner {
        margin-left: 0;
    }
    
    .container-slider-background #slide2:checked~.slider-wrapper .slider-inner {
        margin-left: -130%;
    }
    
    .container-slider-background #slide3:checked~.slider-wrapper .slider-inner {
        margin-left: -235%;
    }
}




/* _____________________________________________________________ */





@media screen and (min-width: 751px) and (max-width: 990px) {
    .container-slider-background {
        width: 100%;
        position: relative;
    }
    
    .container-slider-background input {
        display: none;
    }
    
    .slider-wrapper {
        width:  100%;
        overflow:  hidden;
        transform: translateZ(0);
        transition: all .5s ease-out;
    }
    
    .slider-inner {
        transition: all .8s cubic-bezier(.77,0,.175,1);
        width: 650%;
    }
    
    .slider-inner article {
        width: 20%;
        height: 100%;
        float: left;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .slider-inner .text-h-1 {
        position: absolute;
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 8%;
        line-height: 10px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 35%;
    }
    
    .slider-inner .text-h-2 {
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 23%;
        line-height: 10px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 35%;
    }
    
    .slider-inner .text-h-3 {
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 23%;
        line-height: 10px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 30%;
    }
    
    .slider-inner .text-h-1 h1,
    .slider-inner .text-h-2 h1,
    .slider-inner .text-h-3 h1 {
        color: #4290e0;
        font-weight: 700;
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner .text-h-1 h2,
    .slider-inner .text-h-2 h2,
    .slider-inner .text-h-3 h2 {
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner .text-h-1 h3,
    .slider-inner .text-h-2 h3,
    .slider-inner .text-h-3 h3 {
        color: rgb(255, 255, 255);
        font-weight: 400;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner article img {
        width: 100%;
    }
    
    .slider-prev-next-control {
        height: 50px;
        position: absolute;
        top: 45%;
        width: 100%;
        transform: translateY(-50%);
    }
    
    .slider-prev-next-control label {
        display: none;
        width: 40px;
        height: 40px;
        color: rgb(255, 255, 255);
        
    }
    
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
    .container-slider-background #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide4:checked~.slider-prev-next-control label:nth-child(5)::after {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        margin: 0;
        line-height: 38px;
        font-size: 35px;    
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4)::after {
        content: "﹥";
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2),
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3),
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4) {
        display: block;
        float: right;
        margin-right: 10px;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(4),
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1),
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2) {
        display: block;
        float: left;
        margin-left: 15px;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(4)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2)::after {
        content: "﹤";
    }
    
    .container-slider-background #slide1:checked~.slider-wrapper article:nth-child(1) .text-h-1,
    .container-slider-background #slide2:checked~.slider-wrapper article:nth-child(2) .text-h-2,
    .container-slider-background #slide3:checked~.slider-wrapper article:nth-child(3) .text-h-3 {
        opacity: 1;
    }
    
    .container-slider-background #slide1:checked~.slider-wrapper .slider-inner {
        margin-left: 0;
    }
    
    .container-slider-background #slide2:checked~.slider-wrapper .slider-inner {
        margin-left: -150%;
    }
    
    .container-slider-background #slide3:checked~.slider-wrapper .slider-inner {
        margin-left: -280%;
    }
}




/* _____________________________________________________________ */





@media screen and (max-width: 750px) {
    .container-slider-background {
        width: 100%;
        position: relative;
    }
    
    .container-slider-background input {
        display: none;
    }
    
    .slider-wrapper {
        width:  100%;
        overflow:  hidden;
        transform: translateZ(0);
        transition: all .5s ease-out;
    }
    
    .slider-inner {
        transition: all .8s cubic-bezier(.77,0,.175,1);
        width: 800%;
    }
    
    .slider-inner article {
        width: 20%;
        height: 100%;
        float: left;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .slider-inner .text-h-1 {
        position: absolute;
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 8%;
        line-height: 10px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 35%;
    }
    
    .slider-inner .text-h-2 {
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 14%;
        line-height: 10px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 35%;
    }
    
    .slider-inner .text-h-3 {
        display: flex;
        flex-direction: column;
        position: absolute; 
        left: 8%;
        line-height: 15px;
        opacity: 0;
        transition: all 1s ease-out .6s;
        top: 30%;
    }
    
    .slider-inner .text-h-1 h1,
    .slider-inner .text-h-2 h1,
    .slider-inner .text-h-3 h1 {
        color: #4290e0;
        font-weight: 700;
        font-size: 35px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner .text-h-1 h2,
    .slider-inner .text-h-2 h2,
    .slider-inner .text-h-3 h2 {
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner .text-h-1 h3,
    .slider-inner .text-h-2 h3,
    .slider-inner .text-h-3 h3 {
        color: rgb(255, 255, 255);
        font-weight: 400;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
    }
    
    .slider-inner article img {
        width: 100%;
    }
    
    .slider-prev-next-control {
        height: 50px;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    
    .slider-prev-next-control label {
        display: none;
        width: 40px;
        height: 40px;
        color: rgb(255, 255, 255);
        
    }
    
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
    .container-slider-background #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide4:checked~.slider-prev-next-control label:nth-child(5)::after {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        margin: 0;
        line-height: 38px;
        font-size: 30px;    
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4)::after {
        content: "﹥";
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(2),
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(3),
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(4) {
        display: block;
        float: right;
        margin-right: 0;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(4),
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1),
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2) {
        display: block;
        float: left;
        margin-left: 5px;
    }
    
    .container-slider-background #slide1:checked~.slider-prev-next-control label:nth-child(4)::after,
    .container-slider-background #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
    .container-slider-background #slide3:checked~.slider-prev-next-control label:nth-child(2)::after {
        content: "﹤";
    }
    
    .container-slider-background #slide1:checked~.slider-wrapper article:nth-child(1) .text-h-1,
    .container-slider-background #slide2:checked~.slider-wrapper article:nth-child(2) .text-h-2,
    .container-slider-background #slide3:checked~.slider-wrapper article:nth-child(3) .text-h-3 {
        opacity: 1;
    }
    
    .container-slider-background #slide1:checked~.slider-wrapper .slider-inner {
        margin-left: 0;
    }
    
    .container-slider-background #slide2:checked~.slider-wrapper .slider-inner {
        margin-left: -170%;
    }
    
    .container-slider-background #slide3:checked~.slider-wrapper .slider-inner {
        margin-left: -320%;
    }
}

