/* Заказать звонок */
.container-send-form {
    background-color: #292929;
    height: 135px;
    padding: 0 70px;
}

.container-send-form ul {
    display: flex;
    list-style: none;
}


/* li info Закзать звонок, Форма связи */
.send-form-info {
    align-self: center;
    position: relative;
    top: -35px;
}

.send-form-info h1 {
    line-height: 30px;
}

.info-text-white {
    color: rgb(255, 255, 255);
}

.info-text-blue {
    color: #4290e0;
    margin-left: 70px;
}


/* li text описание */
.send-form-text {
    width: 30%;
    margin: 0 0 0 50px;
    align-self: center;
    position: relative;
    top: -30px;
}

.send-form-text p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 25px;
}


/* li banner картинка-баннер ключ авто */
.send-form-banner {
    width: 200px;
    align-self: center;
}

.send-form-banner img {
    width: 150%;
    position: relative;
    top: -30px;
}


/* li btn кнопка Оценить ремонт */
.send-form-btn button {
    border: 2px solid #4290e0;
    position: relative;
    left: 100px;
    bottom: -40px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(135deg, #f1d14e 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
   
}

.send-form-btn button:hover {
    color: rgba(0, 0, 0, 0.925);    
    background-position: 0;
}





/* __________________________________________________________________________________________________________________________ */






@media screen and (min-width: 1601px) {

    /* Заказать звонок */
    .container-send-form {
        background-color: #292929;
        height: 135px;
        padding: 0 130px 0 130px;
    }

    .container-send-form ul {
        display: flex;
        list-style: none;
    }


    /* li info Закзать звонок, Форма связи */
    .send-form-info {
        align-self: center;
        position: relative;
        top: -40px;
        width: 310px;
    }

    .send-form-info h1 {
        line-height: 30px;
        font-size: 30px;
        font-weight: 600;
    }

    .info-text-white {
        color: rgb(255, 255, 255);
    }

    .info-text-blue {
        color: #4290e0;
        margin-left: 70px;
    }


    /* li text описание */
    .send-form-text {
        width: 30%;
        flex-grow: 1;
        margin: 0 40px;
        align-self: center;
        position: relative;
        top: -35px;
    }

    .send-form-text p {
        color: rgb(255, 255, 255);
        font-size: 17px;
        line-height: 25px;
    }


    /* li banner картинка-баннер ключ авто */
    .send-form-banner {
        width: 220px;
        align-self: center;
    }

    .send-form-banner img {
        width: 150%;
        position: relative;
        top: -30px;
    }


    /* li btn кнопка Оценить ремонт */
    .send-form-btn {
        width: 400px;
    }

    .send-form-btn button {
        border: 2px solid #4290e0;
        position: relative;
        bottom: -40px;
        left: 210px;
        padding: 10px 30px;
        font-size: 18px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(135deg, #f1d14e 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        transition: background 300ms ease-in-out;   
    }

    .send-form-btn button:hover {
        color: rgba(0, 0, 0, 0.925);    
        background-position: 0;
    }

}