/* Модальное окно для 04-Что мы делаем?(основные услуги) */
.modal-window-item-1,
.modal-window-item-2,
.modal-window-item-3,
.modal-window-item-4,
.modal-window-item-5 {
	display: none;
}

.modal-window-item-1:before,
.modal-window-item-2:before,
.modal-window-item-3:before,
.modal-window-item-4:before,
.modal-window-item-5:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	opacity: 0.7;
	z-index: 2;
}


/* стили к HTML коду модального окна */
.modal-window-content {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 70px;
	background-color: #2d2d2d;
	border: none;
	z-index: 3;
	opacity: 1;
}

.modal-content-box {
	display: flex;
}

.content-img {
	width: 180vw;
	margin-right: 50px;
}

.content-img img{
	width: 100%;
}

.content-text {
	width: 1fr;
	margin-right: 70px;
}

.content-text h1 {
	margin-bottom: 20px;
	color: #4290e0;
	font-size: 3vw;
	font-weight: 700;
	text-align: center;
}

.content-text p {
	font-size: 1.2vw;
	color: #ffffff;
}

.content-text span {
	font-size: 1.2vw;
	font-weight: 600;
	color: #ffffff;
}

.content-text ul {
	font-size: 1.2vw;
	margin: 20px 0 20px 30px;
	color: #ffffff;
}

.content-text li {
	font-size: 1.1vw;
	color: #ffffff;
}

.content-btn {
	width: 60px;
	text-align: end;
}

.btn-close-modal-window-item {
	width: 60px;
	height: 60px;
    border: 2px solid #4290e0;
	border-radius: 0;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
}

.btn-close-modal-window-item:hover {
    background-position: 0;    
	color: #ffffff;
}



/* _____________________________________________________________ */



@media screen and (min-width: 991px) and (max-width: 1300px) {
	/* Модальное окно для 04-Что мы делаем?(основные услуги) */
	.modal-window-item-1,
	.modal-window-item-2,
	.modal-window-item-3,
	.modal-window-item-4,
	.modal-window-item-5 {
		display: none;
	}

	.modal-window-item-1:before,
	.modal-window-item-2:before,
	.modal-window-item-3:before,
	.modal-window-item-4:before,
	.modal-window-item-5:before {
		content: '';
		background: #000;
		position: fixed; 
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		opacity: 0.7;
		z-index: 2;
	}


	/* стили к HTML коду модального окна */
	.modal-window-content {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 50px;
		background-color: #2d2d2d;
		border: none;
		z-index: 3;
		opacity: 1;
	}

	.modal-content-box {
		display: flex;
	}

	.content-img {
		width: 200vw;
		margin-right: 40px;
	}

	.content-img img{
		width: 100%;
	}

	.content-text {
		width: 1fr;
		margin-right: 50px;
	}

	.content-text h1 {
		margin-bottom: 20px;
		color: #4290e0;
		font-size: 3vw;
		font-weight: 700;
		text-align: center;
	}

	.content-text p {
		font-size: 1.4vw;
		color: #ffffff;
	}

	.content-text span {
		font-size: 1.4vw;
		font-weight: 600;
		color: #ffffff;
	}

	.content-text ul {
		font-size: 1.3vw;
		margin: 20px 0 20px 30px;
		color: #ffffff;
	}

	.content-text li {
		font-size: 1.3vw;
		color: #ffffff;
	}

	.content-btn {
		width: 50px;
		text-align: end;
	}

	.btn-close-modal-window-item {
		width: 50px;
		height: 50px;
		border: 2px solid #4290e0;
		border-radius: 0;
		padding: 10px 0;
		font-size: 20px;
		font-weight: 900;
		color: #ffffff;
	}

	.btn-close-modal-window-item:hover {
		background-position: 0;    
		color: #ffffff;
	}
}





