/* 07 Статистика, Видео */
.container-statistics-and-video {
    display: flex;
    height: 650px;
    align-items: center;
    padding: 0 70px;
}

.content-box {
    width: 65%;
}

.content-box h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    transform: scale(1, 1.1);
    color: #333333;
}

.content-box p {
    font-size: 17px;
    margin-bottom: 30px;
}

/* Статистика */
.statistics-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 20px;
}

.statistics-box-info {
    display: flex;
    align-items: center;
    overflow: hidden;
    align-items: center;
}

.statistics-box-info span {
    color: #4290e0;
    font-size: 55px;
    font-weight: 700;
    margin-right: 20px;
}

.statistics-box-info span .small-letter-k { 
    color: #4290e0;
    font-size: 43px;
    font-weight: 700;
}

.statistics-box-info p {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.statistics-box-info div {
    border-left: 3px solid #4290e0;
    font-weight: 500;
    height: 60px;
    padding-left: 20px;
}

/* Видео */
.video-box {
    background-color: antiquewhite;
    margin-left: 70px;
}



/* __________________________________________________________________________________________________________________________ */



@media screen and (min-width: 991px) and (max-width: 1300px) {
    
    /* 07 Статистика, Видео */
    .container-statistics-and-video {
        display: flex;
        height: 750px;
        align-items: center;
        padding: 0 70px;
    }

    .content-box {
        width: 65%;
    }

    .content-box h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        transform: scale(1, 1.1);
    }

    .content-box p {
        font-size: 17px;
        margin-bottom: 30px;
    }

    /* Статистика */
    .statistics-box {
        display: flex;
        flex-direction: column;
    }

    .statistics-box-info {
        display: flex;
        align-items: center;
        overflow: hidden;
        align-items: center;
    }

    .statistics-box-info span {
        width: 160px;
        color: #4290e0;
        font-size: 55px;
        font-weight: 700;
        margin-right: 0;
    }

    .statistics-box-info span .small-letter-k { 
        color: #4290e0;
        font-size: 43px;
        font-weight: 700;
    }

    .statistics-box-info p {
        font-size: 20px;
        font-weight: 700;
    }

    .statistics-box-info div {
        border-left: 3px solid #4290e0;
        font-weight: 500;
        height: 60px;
        padding: 10px 0 0 20px;
    }

    /* Видео */
    .video-box {
        background-color: rgba(97, 87, 75, 0);
        margin-left: 70px;
    }
}



/* __________________________________________________________________________________________________________________________ */



@media screen and (min-width: 751px) and (max-width: 990px) {
    
    /* 07 Статистика, Видео */
    .container-statistics-and-video {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 70px 40px;
    }

    .content-box {
        width: 100%;        
        margin-bottom: 40px;
    }

    .content-box h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        transform: scale(1, 1.1);
        text-align: center;
    }

    .content-box p {
        font-size: 17px;
        text-align: center;

    }

    /* Статистика */
    .statistics-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .statistics-box-info {
        width: 48%;
        display: flex;
        align-items: center;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .statistics-box-info span {
        width: auto;
        color: #4290e0;
        font-size: 55px;
        font-weight: 700;
        margin-right: 20px;
    }

    .statistics-box-info span .small-letter-k { 
        color: #4290e0;
        font-size: 43px;
        font-weight: 700;
    }

    .statistics-box-info p {
        font-size: 17px;
        font-weight: 700;
        margin: auto;
    }

    .statistics-box-info div {
        display: flex;
        border-left: 3px solid #4290e0;
        font-weight: 500;
        height: 80px;
        padding-left: 20px;
    }

    /* Видео */
    .video-box {
        background-color: rgba(97, 87, 75, 0);
        margin-left: 0;
    }
}



/* __________________________________________________________________________________________________________________________ */



@media screen and (max-width: 750px) {
    
    /* 07 Статистика, Видео */
    .container-statistics-and-video {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 50px 20px;
    }

    .content-box {
        width: 100%;        
        margin-bottom: 40px;
    }

    .content-box h1 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
        transform: scale(1, 1.1);
        text-align: center;
    }

    .content-box p {
        font-size: 15px;
        text-align: center;

    }

    /* Статистика */
    .statistics-box {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .statistics-box-info {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, auto);
        overflow: hidden;
        margin-bottom: 15px;
        padding: 0 30px;
    }

    .statistics-box-info span {
        width: 50%;
        height: 50px;
        color: #4290e0;
        font-size: 45px;
        font-weight: 700;
        margin-right: 0;
        line-height: 45px;
    }

    .statistics-box-info span .small-letter-k {
        width: auto; 
        color: #4290e0;
        font-size: 33px;
        font-weight: 700;
    }

    .statistics-box-info p {
        font-size: 15px;
        font-weight: 700;
        margin: 0;
        text-align: left;
    }

    .statistics-box-info div {
        display: flex;
        width: 1fr;
        border-left: 3px solid #4290e0;
        font-weight: 500;
        height: 50px;
        padding-left: 20px;
    }

    /* Видео */
    .video-box {
        background-color: rgba(97, 87, 75, 0);
        margin-left: 0;
    }
}