/* Модальное окно для 04-Что мы делаем?(основные услуги) */
.modal-window-item-1,
.modal-window-item-2,
.modal-window-item-3,
.modal-window-item-4,
.modal-window-item-5 {
	display: none;
}

.modal-window-item-1:before,
.modal-window-item-2:before,
.modal-window-item-3:before,
.modal-window-item-4:before,
.modal-window-item-5:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0.7;
	z-index: 2;
}


/* стили к HTML коду модального окна */
.modal-window-content-1,
.modal-window-content-2,
.modal-window-content-3,
.modal-window-content-4,
.modal-window-content-5 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 70px;
	width: 70%;
	height: 100vh;
	background-color: #2d2d2d;
	border: none;
	z-index: 3;
	opacity: 1;
}

.content-img {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 50px;
}

.content-img img{
	width: 40%;
}

.modal-window-content-1 h1,
.modal-window-content-2 h1,
.modal-window-content-3 h1,
.modal-window-content-4 h1,
.modal-window-content-5 h1 {
	margin-bottom: 20px;
	color: #4290e0;
	font-size: 40px;
	font-weight: 700;
}

.modal-window-content-1 p,
.modal-window-content-2 p,
.modal-window-content-3 p,
.modal-window-content-4 p,
.modal-window-content-5 p  {
	font-size: 16px;
	color: #ffffff;
}

.btn-close-modal-window-item {
	width: 100px;
	height: 100px;
    border: 2px solid #4290e0;
	border-radius: 0;
	margin-left: 40px;
    padding: 10px 0;
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    background-image: linear-gradient(135deg, #4290e0 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 400ms ease-in-out;
}

.btn-close-modal-window-item:hover {
    background-position: 0;    
	color: #ffffff;
}