/* Модальное окно */
#modalWindowItem1 { 
  background-color:#527c82;
  color: #fff;
  position: fixed;
  top:0;
  left:-100vw;
  width:100vw;
  height: 100vh;
  transition: all .5s;
  font-family: 'Raleway', sans-serif;
  z-index: 9;

}

#modalWindowItem1:target{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  left:0;
}
